.ui.cards{
  margin: -.875em -.5em !important;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search{
  display: inline;
  font-size: 1.5em;
}
input{
  outline: none !important;
  border: none !important;
}
.mtop{
  margin-top: 5rem;
}
.ui.right.aligned.container{
  margin-top: 1em;
}
.inline{
  display: inline;
}